#body {
}

#body #left_slidebar {
    background-color: #F2F2F2;
}

.article {
    word-wrap: break-word;
    border-bottom: 1px black solid;

}

.article .shortBody {
    max-height: 170px;
}

#footer_content {
    border-top: 1px solid #808080;
    text-align: center;
}

#left_slidebar {
    overflow: auto;
}

#post_new {
    background-color: #F2F2F2;
    cursor: pointer;
    font-size: 48pt;
    padding: 0;
    margin-bottom: 5px;
    height: 100px;
}

#post_new p {
    margin-top: 10px;
    margin-left: 25px;
    text-align: center;
    position: relative;
    top: 30px;
}

#blog_category {
    padding-left: 40px;
    background-color: #F2F2F2;
    text-align: center;
}

.btn_group button {
    min-width: 100px;
}

#blog_content {
    min-height: 600px;
    border: 1px solid #EEE;
    padding: 8px;
}

.myinfo {
    color: #000000;
    display: block;
    font-size: 14pt;
    font-weight: bold;
    margin: 0 0 12px;
    word-wrap: break-word;
}

#login_form {
    text-align: center;
}