#body {
}

#body #left_slidebar {
    background-color:#F2F2F2;
}

.article {
    word-wrap: break-word;
    border-bottom: 1px black solid;

}
.article .shortBody{
    max-height: 170px;
}

#footer_content{
    border-top: 1px solid #808080;
    text-align: center;
}

#left_slidebar{
    overflow:auto;
}


#info1{
    background-color:#add8e6;
    height: 150px;
    margin-bottom: 5px;
}

#info2{
    background-color:#add8e6;
    height: 250px;
}

.btn_group button{
    min-width: 100px;
}

#blog_content{
    min-height: 600px;
}

.myinfo{
    color: #000000;
    display: block;
    font-size: 14pt;
    font-weight: bold;
    margin: 0 0 12px;
    word-wrap: break-word;
}

#login_form{
	text-align: center;
}